

@import "kmom04.less";
@import "base/baseKmom04.less";
@import "layout/layout-kmom04.less";

@bgColorHtml: #424242;
@bgColorBody: #0d0d0d;
@colorBody: #333;
@bgColorFooter: lighten(@colorBody, 5%);
@bgColorHeader: #333;
@bgMain: @bgColorBody;
@bgColorCode: @bgColorFooter;

@colorH4: #ff3333;
@colorH3: #ff3333;
@colorH2: #ff3333;
@colorH1: #ff3333;

@borderColorStandard: #666d;
@borderColorH4: @borderColorStandard;
@borderColorH3: @borderColorStandard;
@borderColorH2: @borderColorStandard;
@borderColorH1: @borderColorStandard;

@textColor: #ff3333;
@navbarColor : #ff3333;
@linkColor: #990000;
@listColor: #0d0d0d;
@fontFamilyBody: serif;
